
span {
    font-family: "Baskerville", "Baskerville Old Face", Garamond, serif;
    font-size: 3ch;
    font-weight: bolder;
    line-height: 1.5;
    color: rgb(116, 4, 28);

    display: flex;
    justify-content: center;
}

div {
    padding: 5vw;
}

img {
    padding: 2vw;
    padding-bottom: 0;
    margin: 0 auto;
    width: 50% auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 1.5;
}