img {
    padding: 0vw;
    margin: 0 auto;
    width: 75% auto;
    height: 100%;
    display: flex;
    justify-content: center;
}


section {
    padding-top: 0%;
}

h3 {
    padding: 2vh;
    font-weight: bolder;
    font-size: x-large;
    color: brown;
    font-family:'Courier New', Courier, monospace;
    background-color: #f6cfb1;
}

ol {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 2;
}
