section {
    padding-top: 0%;
    padding-bottom: 0%;
}

body {
    padding-bottom: 5vw;
}

h3 {
    margin: 0 auto;
    padding: 2vh;
    font-weight: bolder;
    font-size: x-large;
    color: brown;
    font-family:'Courier New', Courier, monospace;
    background-color: #f6cfb1;
}

figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    color: brown;
    font-weight: bold;
}

#tools-list {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: left;
    font-size: large;
}

#tools-list li {
    padding-bottom: 2vw;
}

#materials-list {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: left;
    font-size: medium;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 2;
}

#materials-list li {
    padding-bottom: 2vw;
}

#materials-note {
    padding: 0%;
    margin: 0 auto;
}

#paper-links-intro {
    padding-bottom: 0;
}