
h3 {
    padding: 2vh;
    font-weight: bolder;
    font-size: x-large;
    color: brown;
    font-family:'Courier New', Courier, monospace;
    background-color: #f6cfb1;
}

.link {
    list-style-type: none;
    /* text-decoration: none; */
}

nav.link ul li a{
    text-decoration: none;
}

figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    color: brown;
    font-weight: bold;
}

